<label>Name: </label>
<p><%= @employee.name %></p>

<label>Department: </label>
<p><%= @employee.department %></p>

  
<label>Created at: </label>
<p><%= @employee.created_at %></p>
<label>Updated at: </label>
<p><%= @employee.updated_at %></p>

<p><%= link_to 'Edit', edit_employee_path(@employee) %></p>





