<%= form_for @issue do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation" class="field_with_errors">
    <h2>There were some errors:</h2>
    <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="form-group<%= ' field_with_errors' if @issue.errors[:title].any? %>">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status, "Status*" %><br>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :owner, "Owner" %><br>
    <%= f.collection_select :owner, User.all.L2_L3_only, :name, :name, include_blank: 'Choose an Owner', class: "form-control" %>
  </div>

  <div class="form-group<%= ' field_with_errors' if @issue.errors[:created].any? %>">
    <%= f.label :created, "Created" %><br>
    <%= f.text_field :created, class: "form-control" %>
  </div>

  <div class="form-group<%= ' field_with_errors' if @issue.errors[:effort].any? %>">
    <%= f.label :effort, "Effort (hrs)" %><br>
    <%= f.text_field :effort, class: "form-control" %>
  </div>

  <div class="form-group<%= ' field_with_errors' if @issue.errors[:completion_date].any? %>">
    <%= f.label :completion_date, "Completion Date (hrs)" %><br>
    <%= f.text_field :completion_date, class: "form-control" %>
  </div>

  <div class="form-group<%= ' field_with_errors' if @issue.errors[:employee].any? %>">
    <%= f.label :employee_id, "Employee/Caller" %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :name, include_blank: 'Choose an Employee', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id, "User ID" %><br>
    <%= f.text_field :user_id, value: current_user.id, class: "form-control" %>
  </div>

  <%= f.submit %>
<% end %>

<p>* New - service desk has received the incident but has not assigned it to an agent.</p>
<p> Assigned - incident has been assigned to an individual service desk agent.</p>
<p> In-Progress - incident has been assigned to an agent but has not been resolved. The agent is actively working with the user to diagnose and resolve the incident.</p>
<p> On-Hold - incident requires some information or response from the user or from a third party. SLA response deadlines are not exceeded while waiting for a response from the user or vendor.</p>
<p> Resolved - service desk has confirmed that the incident is resolved and that the user’s service has restored to the SLA levels.</p>
<p> Closed - incident is resolved and that no further actions can be taken.</p>

