<form>
Id: <input type="text" value="<%= @issue.id %>" readonly=true><br>

Title: <input type="text" value="<%= @issue.title %>" readonly=true><br>

Status: <input type="text" value="<%= @issue.status %>" readonly=true><br>

Owner: <input type="text" value="<%= @issue.owner %>" readonly=true><br>

Created: <input type="text" value="<%= @issue.created %>" readonly=true><br>

Completion: <input type="text" value="<%= @issue.completion_date %>" readonly=true><br>

Created by: <input type="text" value="<%= @issue.user.name %>" readonly=true><br>

Escalated by:<input type="text" value="<%= @issue.employee.name %>" readonly=true><br>

Department: <input type="text" value="<%= @issue.employee.department %>" readonly=true><br>

</form>

<%= form_tag issue_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
   <input type=submit value='Delete Issue'>    
<% end %>

