<h1>Show Issue</h1>

<div class="show_page">
  <a href="/issues/<%=@issue.id%>/edit" class="btn btn-warning" role="button">Update Issue</a>
  <a href="" id="jx-next" class="btn btn-info" data-id="<%=@issue.id%>"> Next Issue </a>
  <a href="#" id="js-next" data-id="<%=@issue.id%>">Next Issue</a>
</div>

<div class="show_page">
  <p id="issueId">Issue ID: <%= @issue.id %></p>
  <p id="issueTitle">Title: <%= @issue.title %></p>
  <p id="issueStatus">Status: <%= @issue.status %></p>
  <p id="issueOwner">Owner: <%= @issue.owner %></p>
  <p id="issueCreated">Created: <%= @issue.created %></p>
  <p id="issueEffort">Effort (hrs): <%= @issue.effort %></p>
  <p id="issueCompletion">Completion Date: <%= @issue.completion_date %></p>
  <p id="issueEmployee">Employee/Caller: <%= @issue.employee.name %></p>
  <p id="issueUser">UserID: <%= @issue.user.name %></p>
</div>

<h3>Comments/Notes: </h3>
<% if @issue.comments.length == 0 %>
  <p> There are no comments at this time. <p>
<% else %>       
  <% @issue.comments.each do |comment| %>
    <div class="show_page">
      <p> <%= comment.comment  %> There is a number of comments... </p>
    </div>
  <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $("#js-next").on("click", function(event) {
    event.stopPropagation();
    var nextId = parseInt($("#js-next").attr("data-id")) - 1;
    $.get("/issues/" + nextId + ".json", function(data) {
      console.log(data);
      $("#issueId").text("Issue ID: " + data["id"]);
      $("#issueTitle").text("Title: " + data["title"]);
      $("#issueStatus").text("Status: " + data["status"]);
      $("#issueOwner").text("Owner: " + data["owner"]);
      $("#issueCreated").text("Created: " + data["created"]);
      $("#issueEffort").text("Effort (hrs): " + data["effort"]);
      $("#issueCompletion").text("Completion Date: " + data["completion_date"]);
      $("#issueEmployee").text("Employee/Caller: " + data["employee"]["name"]);
      $("#issueUser").text("Support: " + data["user"]["name"]);

      // re-set the id to current on the link
      $("#js-next").attr("data-id", data["id"]);
      console.log("Current data-id: " + data["id"])
    });
  });
});
</script>





