<h1>Show Issue</h1>

<div class="show_page">
  <a href="/issues/<%=@issue.id%>/edit" class="btn btn-warning" role="button">Update Issue</a>
  <a href="#" id="js-next" data-id="<%=@issue.id%>">Next Issue</a>
</div>

<div class="show_page">
  <p id="issueId">Issue ID: <%= @issue.id %></p>
  <p id="issueTitle">Title: <%= @issue.title %></p>
  <p id="issueStatus">Status: <%= @issue.status %></p>
  <p id="issueOwner">Owner: <%= @issue.owner %></p>
  <p id="issueCreated">Created: <%= @issue.created %></p>
  <p id="issueEffort">Effort (hrs): <%= @issue.effort %></p>
  <p id="issueCompletion">Completion Date: <%= @issue.completion_date %></p>
  <p id="issueEmployee">Employee/Caller: <%= @issue.employee.name %></p>
  <p id="issueUser">UserID: <%= @issue.user.name %></p>
</div>

<h3><%= link_to "Comments/Notes:", issue_comments_path(@issue), id: "load_comments" %></h3>

<div class="listOfComments">
  <table class="table table-bordered table-responsive table-sm table-hover">
    <thead>
      <tr>
      <td><strong>ID</strong></td>
      <td><strong>Comment</strong></td>
      <td><strong>User</strong></td>
      <td><strong>Created at</strong></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

<label>Add Comments: </label> 
<%= form_for([@issue, @comment]) do |f| %>
  <%= f.text_area :comment %>
  <%= f.text_field :user_id, type: "hidden", value: current_user.id %>
  <%= f.text_field :issue_id, type: "hidden", value: @issue.id %>
  <p><%= f.submit 'Submit', data: { disable_with: false } %></p>

<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $("#js-next").on("click", function(event) {
    event.stopPropagation();

    var nextId = parseInt($("#js-next").attr("data-id")) - 1;

    $.get("/issues/" + nextId + ".json", function(data) {
      console.log(data);
      $("#issueId").text("Issue ID: " + data["id"]);
      $("#issueTitle").text("Title: " + data["title"]);
      $("#issueStatus").text("Status: " + data["status"]);
      $("#issueOwner").text("Owner: " + data["owner"]);
      $("#issueCreated").text("Created: " + data["created"]);
      $("#issueEffort").text("Effort (hrs): " + data["effort"]);
      $("#issueCompletion").text("Completion Date: " + data["completion_date"]);
      $("#issueEmployee").text("Employee/Caller: " + data["employee"]["name"]);
      $("#issueUser").text("Support: " + data["user"]["name"]);

      // re-set comments section
      $("tbody").empty();
      var newUrl = "/issues/" + data["id"] + "/comments"
      $("#load_comments").attr("href", newUrl);

      // re-set form_for form-action and comments-issue-id value to the next issue ID
      $("#new_comment").attr("action", newUrl);
      $("#comment_issue_id").attr("value", nextId)

      // re-set the id to current on the link
      $("#js-next").attr("data-id", data["id"]);
      console.log("Current data-id: " + data["id"])
    });
  });
});

$("#load_comments").on("click", function(event){
  event.preventDefault(); 
  $("tbody").empty();
  console.log(this.href); 
  $.get(this.href, function(data){
    if (data.length === 0) {
      $("tbody").append("No comments at this time.");
    } else {
      for (let comment of data) {

        var markup = `<tr> 
                        <td>${comment.id}</td> 
                        <td>${comment.comment}</td> 
                        <td>${comment.user_id}</td> 
                        <td>${comment.created_at}</td>
                      </tr>`;
        $("table tbody").append(markup);     

      } 
    }
  })
})

$(function(){
  $("#new_comment").on("submit", function(event){

    //console.log(this.action); 
     
    var values = $(this).serialize();

    var posting = $.post(this.action, values);

    posting.done(function(data) {

    let issueComment = new Comment(data["id"], data["comment"], data["issue_id"], data["user_id"], data["created_at"]);

    console.log(issueComment);
    issueComment.getUserName();

    var markup = `<tr> 
                    <td>${issueComment.id}</td> 
                    <td>${issueComment.comment}</td> 
                    <td>${issueComment.user_id}</td> 
                    <td>${issueComment.created_at}</td>
                  </tr>`;
    $("table tbody").append(markup);     

    $("#comment_comment").val("");
    });
    event.preventDefault();
  });
});


</script>




