<h1>Show Issue</h1>

<div class="show_page">
  <a href="/issues/<%=@issue.id%>/edit" class="btn btn-warning" role="button">Update Issue</a>
  <a href="#" id="js-next" class="btn btn-info" data-id="<%=@issue.id%>">Next Issue</a>
</div>

<div class="show_page">
  <p id="issueId">Issue ID: <%= @issue.id %></p>
  <p id="issueTitle">Title: <%= @issue.title %></p>
  <p id="issueStatus">Status: <%= @issue.status %></p>
  <p id="issueOwner">Owner: <%= @issue.owner %></p>
  <p id="issueCreated">Created: <%= @issue.created %></p>
  <p id="issueEffort">Effort (hrs): <%= @issue.effort %></p>
  <p id="issueCompletion">Completion Date: <%= @issue.completion_date %></p>
  <p id="issueEmployee">Employee/Caller: <%= @issue.employee.name %></p>
  <p id="issueUser">UserID: <%= @issue.user.name %></p>
</div>

<h3><%= link_to "Comments/Notes:", issue_comments_path(@issue), id: "load_comments" %></h3>

<p id="commentMessage"></p>

<div class="listOfComments">
  <table class="table table-bordered table-responsive table-sm table-hover">
    <thead>
      <tr>
      <td><strong>Comment ID</strong></td>
      <td><strong>Comment</strong></td>
      <td><strong>User</strong></td>
      <td><strong>Created at</strong></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

<label>Add Comments: </label> 
<%= form_for([@issue, @comment]) do |f| %>
  <%= f.text_area :comment %>
  <%= f.text_field :user_id, type: "hidden", value: current_user.id %>
  <%= f.text_field :issue_id, type: "hidden", value: @issue.id %>
  <p><%= f.submit 'Submit', data: { disable_with: false } %></p>

<% end %>





