<% byebug %> 
<label>Name: </label>
<p><%= @user.name %></p>
<label>Password: </label>
<p><%= @user.password_digest %></p>
<label>Role: </label>
<p><%= @user.role %></p>
<label>Created at: </label>
<p><%= @user.created_at %></p>
<label>Updated at: </label>
<p><%= @user.updated_at %></p>



