<!DOCTYPE html>
<html>
  <head>
    <title>RubyRailsCrudIssueManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

  </head>

  <body>
    <div class="wrapper">
    <img src="/images/rf_company.png" class="img-responsive main-image" alt="Company logo" height="126" width="126"> 
    <h1>Ruby Rails CRUD Issue Manager</h1>

    <%= yield %>

    <footer class="branding">
      <small>&copy; 2018 <strong>RailsCrudIssueManager by Richard Fenix</strong></small>
    </footer>


  </body>
</html>
